# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
certifi
flask==0.12.2
itsdangerous==0.24
jinja2==2.9.6
werkzeug==0.12.2
gunicorn==19.7.1
