{% extends "base.html" %}

{% block content %}

<p>
This is my mini app portfolio.  In the Fall of 2017, I realized that I didn't know nearly as much web app development as I thought I did, so I started making these simple games and web apps in order to practice.
</p>

{% endblock %}
    <header>
        <h1>HTML Games and Automata</h1>
        <p>for Fun and Practice</p>
    </header>

    <ul>
        <li><a href="./static/line_game.html">line_game</a></li>
        <li><a href="./static/conways_game_of_life.html">conway's game of life</a></li>
    </ul>

